*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --nav-background-color: rgb(5, 25, 88);
  --nav-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

i {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: var(--nav-background-color);
  color: var(--nav-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  max-width: 1100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 1.8rem;
  letter-spacing: 5px;
  font-weight: 900;
}

.cart {
  margin: 0 .8rem;
  position: relative;
  cursor: pointer;
}

.cart .total {
  position: absolute;
  background-color: #abba82;
  padding: .2rem .2rem;
  border-radius: 5px;
  top: -9px;
  right: -14px;
  font-size: .8rem;
  font-weight: 900;
}

.hero {
  text-align: center;
  height: calc(100vh - 60px);
  background: url(./images/images/product-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-content {
  padding: 1.5rem;
  display: grid;
  grid-gap: 1.5rem;
  color: white;
  background-color: rgba(128, 128, 128, 0.76);
}

.hero a {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  background: transparent;
  outline: none;
  border: 2px solid rgba(253, 28, 28, 0.952);
  color: whitesmoke;
  text-decoration: none;
  transition: 500ms;
}

.hero a:hover {
  background-color: whitesmoke;
  color: rgba(253, 28, 28, 0.952);
}

.items {
  margin: 10rem 0;
}

.item-container {
  max-width: 1170px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: auto;
  gap: 2rem;
}

.item {
  overflow: hidden;
  position: relative;
}

.item button {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 70px;
  padding: .5rem;
  transition: 400ms;
  transform: translateX(100%);
  background-color: #b0db22;
  outline: none;
  border: none;
}

.item:hover img {
  opacity: .8;
}

.item:hover button {
  transform: translateX(0);
}

.overlay {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 20, 0.5);
  top: 0;
  transform: translateX(100%);
  transition: ease-in 400ms;
}

.cart-container {
  z-index: 3;
  background-color: rgba(8, 23, 78, 0.918);
  color: var(--nav-color);
  position: fixed;
  height: calc( 100vh - 60px);
  display: grid;
  gap: 2rem;
  top: 60px;
  right: 0;
  width: 100%;
  overflow-y: auto;
  padding: 1rem;
  transform: translateX(100%);
  transition: ease-in 400ms;
}

.translate {
  transform: translateX(0);
}

.cart-item {
  background-color: rgba(1, 14, 59, 0.918);
  margin: 1rem 0;
  padding: .8rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: .5rem;
}

.cart-item img {
  height: 75px;
  width: 75px;
}

.cart-item .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item .quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-item a {
  text-decoration: none;
  color: gray;
  font-weight: 800;
  cursor: pointer;
}

.footer {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.footer button {
  margin-top: .4rem;
  padding: .8rem;
  background: transparent;
  color: var(--nav-color);
  cursor: pointer;
  border: 2px solid #fd641c;
  transition: 400ms;
  outline: none;
  margin: .5rem 0;
}

.footer button:hover {
  color: #fd641c;
  border-color: var(--nav-color);
}

@media (min-width: 700px) {
  .cart-container {
    min-width: 400px;
    width: 30vw;
  }
}
/*# sourceMappingURL=style.css.map */